
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .navbar {
    background-color: #007bff;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #ffcc00;
  }
  
  .product {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
  }
  
  .product p {
    color: #555;
  }
  
  .product .new-price {
    font-weight: bold;
    color: green;
    font-size: 1.2em;
  }
  .product del {
    color: red;
    text-decoration: line-through;
    font-size: 1.1em;
    margin-right: 10px;
  }

  .carousel-item {
    height: 300px;
    background-color: #007bff;
    color: white;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: #ffcc00;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .navbar {
      background-color: #0056b3;
    }
  
    .navbar a {
      color: #fff;
    }
  
    .product {
      margin: 10px;
      padding: 15px;
    }
  
    .product h3 {
      font-size: 1.2em;
    }
  
    .product .new-price {
      font-size: 1.1em;
    }
  
    .carousel-item {
      height: 250px;
    }
  }
  